body{
    font-family: 'Poppins', sans-serif;
}

/* SLIDER SECTION START  */
.slider_section .slider_dis h1{
    font-size: 56px;
    font-family: poppins;
    font-weight: 600;
}

/* PACKAGE SECTION START  */
.package li {
    list-style: none;
    padding: 5px;
}
.package li i {
    background: #00bb6424;
    color: #00bb64;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
    padding: 5px;
    margin-right: 5px;
}

/* F&Q SECTION START  */
.fnq_section{
    padding: 50px 0 100px 0;
}

/* MEDIA QUARY SECTION  */
@media (max-width: 575px){
    .w-100 {
        width: 220%!important;
    }
    .slider_section .slider_dis h1{
        font-size: 30px;
    }
    .slider_section .slider_dis p{
        font-size: 10px;
    }
}
@media (max-width: 992px){
    .slider_section .slider_dis h1{
        font-size: 30px;
    }
    .slider_section .slider_dis p{
        font-size: 12px;
    }
}